<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ShopManagementSystem.Properties.Settings.ShopManagementSystemConnectionString"
            connectionString="Data Source=LAPTOP-6RKK88S4\SQLEXPRESS;Initial Catalog=ShopManagementSystem;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>